<!-- Page : Todo List -->

<!-- 리스트 데이터 가공 -->
<% 
    const totalCnt = filteredList.length;
    const doneCnt = filteredList.filter(todo => todo.done).length;
%>

<div class="filter-wrap">
    <h2 class="page-title">
        <%= pageTitle %>
        <span>(<%= doneCnt %>/<%= totalCnt %>)</span>
    </h2>
    <div class="button-wrap">
        <a href="/todo" class="<%= activeFilter === 'all' ? 'active':'' %>">전체</a>
        <a href="/todo?filter=done" class="<%= activeFilter === 'done' ? 'active':'' %>">완료</a>
    </div>
</div>

<!-- TODO List -->
<% if(filteredList.length > 0) { %>
    <ul class="todo-list">
        <% filteredList.forEach(todo => { %>
            <%- include('components/todo-item', {todo: todo}) %>
        <% }) %>
    </ul>
<% } else { %>
    <p class="no-data">등록된 항목이 없습니다.</p>
<% } %>